<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
  <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="../static/js/example.js"></script>
  <title>Secure Computation Platform Based on Homomorphic Encryption in Cloud Environments</title>
  <style>

  </style>
</head>

<body>
  <main>
    <div class="p-4 shadow text-center">
      <h3 class="display-6" style="color: rgb(110, 110, 110);">Secure Computation Platform Based on Homomorphic Encryption in Cloud Environments</h3>
    </div>
    <div class="container-fluid shadow-sm">
      <div class="row " style="height: 900px">
        <div class="col-2 shadow" >
          <nav class="navbar justify-content-center">
            <ul class="navbar-nav" >
              <li class="nav-item mb-3 mt-4">
                <a class="nav-link" href="newindex.html" style="font-size: 22px;color: rgb(99, 99, 99);">
                  <i class="bi bi-pc-display-horizontal mx-2"></i>
                  <span class="menu-title"><b>Introduction</b></span>
                </a>
              </li>
              <li class="nav-item dropdown my-3">
                <a class="nav-link dropdown-toggle" href="#" style="font-size: 22px;color: rgb(99, 99, 99);" role="button" data-bs-toggle="dropdown"aria-expanded="false" >
                  <i class="bi bi-book mx-2"></i>
                  <span class="menu-title"><b>Protocols Performance</b></span>
                </a>
              </li>
              <li class="nav-item ms-4 my-1"><a class="nav-link" href="Advance.html"><span class="menu-title" style="font-size: 20px;color: rgb(99, 99, 99);"><b>Advanced Protocols</b></span></a></li>
              <li class="nav-item ms-4 my-1"><a class="nav-link" href="Basic.html"><span class="menu-title" style="font-size: 20px;color: rgb(99, 99, 99);"><b>Basic Protocols</b></span></a></li>
              <li class="nav-item my-3">
                <a class="nav-link" href="newExample.html" style="font-size: 22px;color: #198754">
                  <i class="bi bi-journal-text mx-2"></i>
                  <span class="menu-title"><b>Case Study</b></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-10 mt-5">
          <div class="row ">
              <div class="col-3">
                <div class="card shadow-sm p-2">
                  <div class="card-title mx-3 mt-2"> 
                    <h5><span class="me-2 py-1 ps-2 pe-1 rounded-circle text-white text-center bg-primary" style="width: 30px;height: 30px;">
                      <i class="bi bi-bookmarks"></i>
                    </span><b>SK−NN</b></h5>
                  </div>
                  <div class="card-body">
                    <p style="color:rgb(99, 99, 99)">Secure K−Nearest Neighbor based on R−tree</p>
                    <button id="sknn" type="button" class="btn btn-success" style="float: right;">Start</button>
                  </div> 
                </div>
              </div>
              <div class="col-3 ">
                <div class="card shadow-sm p-2">
                  <div class="card-title mx-3 mt-2">
                    <h5><span class="me-2 py-1 ps-2 pe-1 rounded-circle text-white text-center bg-primary" style="width: 30px;height: 30px;">
                      <i class="bi bi-bookmarks"></i>
                    </span><b>SLCSS</b></h5>
                  </div>
                  <div class="card-body">
                    <p style="color:rgb(99, 99, 99)">Secure Longest Common Sub Sequence</p>
                    <button id="slcss" type="button" class="btn btn-success" style="float: right;">Start</button>
                  </div> 
                </div>
              </div>
              <div class="col-3">
                <div class="card shadow-sm p-2">
                  <div class="card-title mx-3 mt-2">
                    <h5><span class="me-2 py-1 ps-2 pe-1 rounded-circle text-white text-center bg-primary" style="width: 30px;height: 30px;">
                      <i class="bi bi-bookmarks"></i>
                    </span><b>SDTW</b></h5>
                  </div>
                  <div class="card-body">
                    <p style="color:rgb(99, 99, 99)">Secure Dynamic Time Warping</p>
                    <button id="sdtw" type="button" class="btn btn-success" style="float: right;">Start</button>
                  </div> 
                </div>
              </div>
              <div class="col-3">
                <div class="card shadow-sm p-2">
                  <div class="card-title mx-3 mt-2">
                    <h5><span class="me-2 py-1 ps-2 pe-1 rounded-circle text-white text-center bg-primary" style="width: 30px;height: 30px;">
                      <i class="bi bi-bookmarks"></i>
                    </span><b>SBD similarity</b></h5>
                  </div>
                  <div class="card-body">
                    <p style="color:rgb(99, 99, 99)">Secure Bi-Directional similarity measure</p>
                    <button id="sbd" type="button" class="btn btn-success" style="float: right;">Start</button>
                  </div> 
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>