<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
  <title>Secure Computation Toolkit Based on Homomorphic Encryption</title>
  <style>
    body {
      background-color: #dee9ff;
      height: 100%;
      width: 100%;
    } 
  </style>
</head>
<body >
  <main>
    <h1 class="display-3 py-4 text-center text-white" style="background-color:green;">Secure Computation Toolkit Based on Homomorphic Encryption</h1>
    <div class="container-fluid">
      <div class="row mt-5">
        <div class="col-3 text-center mx-auto bg-white bg-opacity-25 rounded-3 shadow-lg">
          <div class="p-5">
            <h2 class="display-4">MENU</h2>
          </div>
          <div class="my-3">
            <div class="list-group list-group-flush bg-white bg-opacity-50 rounded-3 border-0">
              <a href="/index" class="list-group-item list-group-item-action"><h2 class="display-5"><!--TODO: 修改第一个链接标题-->index</h2></a>
              <a href="/views" class="list-group-item list-group-item-action"><h2 class="display-5"><!--TODO: 修改第二个链接标题-->views</h2></a>
              <a href="/example" class="list-group-item list-group-item-action"><h2 class="display-5"><!--TODO: 修改第三个链接标题-->example</h2></a>
            </div>
          </div>

          <!-- <div class="my-3">
            <div class="card bg-white rounded-3 border-0" >
              <div class="card-body">
                <h3 class="display-6 card-title">Introduction</h3>
                <p>
                  Our demonstration of the SeCTool is divided into three parts.  In the first part, we demonstrated the basic functions and performance of the protocols in the toolkit.  And then, we demonstrated the internal structure of the secure calculation protocol toolkit and the dominant relationship between security computing protocols.  At last, an secure algorithm of  K-Nearest Neighbor based on R-tree using our toolkit is presented and tested. For a better display, the audience can change the parameters of the algorithm to make it clear how the improved algorithm works.
                </p>
              </div>
            </div>
          </div> -->
        </div>
        <div class=" col-8 m-auto bg-white bg-opacity-25 rounded-3 shadow-lg" style="height: 100%;">
            <div class="mt-5 mx-4 mb-5">
              <img src="../static/resource/fig1.svg" height="100%" width="100%" alt="..." >
            </div>
        </div>
      </div>
    </div>
  </main>
  <script>
    $(document).ready(function () {
      
    })
  </script>
</body>
</html>