<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
  <title>Protocols performance of SeCTool</title>
  <style>
    body {
      background-color: #dee9ff;
      height: 100%;
      width: 100%;
    } 
  </style>
</head>
<body>
  <main>
    <h1 class="display-3 py-4 text-center text-white" style="background-color:green;">Secure Computation Toolkit Based on Homomorphic Encryption</h1>
    <div class="container-fluid">
      <div class="row mt-5">

        <div class="col-3 text-center mx-auto bg-white bg-opacity-25 rounded-3 shadow-lg">

          <div class="my-3 bg-white bg-opacity-50">
            <h1 class="display-5">Advanced Protocals</h1>
              <div class="p-4 ">
                <div class="dropdown dropend">
                  <a href="#" class="list-group-item list-group-item-action dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><h2 class="display-6 text-secondary">MENU</h2></a>
                  <ul id="advanced" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a id="SSPLD"  class="dropdown-item" href="#"><h4>SSPLD<h4></a></li>
                    <li><a id="SSED" class="dropdown-item" href="#"><h4>SSED<h4></a></li>
                      <li><a id="SD" class="dropdown-item" href="#"><h4>SDOM<h4></a></li>
                    <li><a id="SGD" class="dropdown-item" href="#"><h4>SGDOM<h4></a></li>
                  </ul>
              </div> 
            </div>
          </div>

          <div class="my-3 bg-white bg-opacity-50">
            <h1 class="display-5">Basic Protocals</h1>
            <div class="p-4"> 

              <div class="dropdown dropend">
                <a href="#" class="list-group-item list-group-item-action dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><small class="text-secondary" style="word-break:break-all;">Secure Arithmetic Computation Protocals</small></a>
                <ul id="b1" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a id="SDC"  class="dropdown-item" href="#"><h4>SDC<h4></a></li>
                  <li><a id="SMIN" class="dropdown-item" href="#"><h4>SMIN<h4></a></li>
                  <li><a id="SM" class="dropdown-item" href="#"><h4>SM<h4></a></li>
                  <li><a id="SMAX" class="dropdown-item" href="#"><h4>SMAX<h4></a></li>
                </ul>
              </div> 

              <div class="dropdown dropend">
                <a href="#" class="list-group-item list-group-item-action dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><small class="text-secondary">Secure Comparison Protocals</small></a>
                <ul id="b2" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a id="SEQ"  class="dropdown-item" href="#"><h4>SEQ<h4></a></li>
                  <li><a id="SLESS" class="dropdown-item" href="#"><h4>SLESS<h4></a></li>
                  <li><a id="SLEQ" class="dropdown-item" href="#"><h4>SLEQ<h4></a></li>
                </ul>
              </div> 

              <div class="dropdown dropend">
                <a href="#" class="list-group-item list-group-item-action dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><small class="text-secondary">Secure Bit Computation Protocals</small></a>
                <ul id="b3" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a id="SNOT"  class="dropdown-item" href="#"><h4>SNOT<h4></a></li>
                  <li><a id="SBD" class="dropdown-item" href="#"><h4>SBD<h4></a></li>
                  <li><a id="SAND" class="dropdown-item" href="#"><h4>SAND<h4></a></li>
                  <li><a id="SBOR" class="dropdown-item" href="#"><h4>SBOR<h4></a></li>
                </ul>
              </div> 

            </div>
          </div>

        </div>

        <div class=" col-8 m-auto bg-white bg-opacity-25 rounded-3 shadow-lg" style="height: 100%;">
          <div class="mt-5 mx-4 mb-5">
            <img  src="../static/resource/fig1.svg" height="100%" width="100%" alt="..." >
          </div>
        </div>

      </div>
    </div>
  </main>
  <script>
    $(document).ready(function () {
      $('#advanced').children("li").click(function(){
        let s ='../static/resource/'+$(this).text()+'.jpg'
        console.log(s)
        $("img").attr("src",s)
        
      })

      $('#b1').children("li").click(function(){
        let s ='../static/resource/'+$(this).text()+'.jpg'
        console.log(s)
        $("img").attr("src",s) 
      })

      $('#b2').children("li").click(function(){
        let s ='../static/resource/'+$(this).text()+'.jpg'
        console.log(s)
        $("img").attr("src",s) 
      })

      $('#b3').children("li").click(function(){
        let s ='../static/resource/'+$(this).text()+'.jpg'
        console.log(s)
        $("img").attr("src",s) 
      })

    })
  </script>
</body>
</html>